<nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: #060707">
  <div class="container">
    <a
      class="navbar-brand fw-bold d-flex align-items-center gap-2"
      href="https://dummyjson.com"
      target="_blank"
    >
      <span class="badge bg-white text-dark">DummyJSON</span>
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://dummyjson.com/users" target="_blank">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://dummyjson.com/posts" target="_blank">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://dummyjson.com/comments" target="_blank">Comments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://dummyjson.com/docs" target="_blank">Docs API</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
